<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <%# railsの画像パス指定は開発者が使うファイルだとしたの表記 %>
  <img class="about-img" src="/assets/tweets.png">
  ユーザーが使うフォルダはpublicで保存して
</div>